@page "/products"
@using Npgsql
@using ProductClassLibrary

<PageTitle>Products</PageTitle>


@* TODO: style this fucker *@
<div class="product-title">
    <h1 class="prod-title">Products</h1>
</div>

<section class="products-section">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var product in products)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="..\images\product_16485448943db4ee0d12937fc435d5b5221c968702_grande.webp" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">@product.Brand @product.Series</h5>
                            <p class="card-text">
                                @product.Brand
                                @product.Series
                                @product.Model
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" @onclick="() => OpenModal(product)">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Price: @product.Price $</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@if (showModal)
{
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@selectedProduct.Brand</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    EAN Number: @selectedProduct.EANNumber
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {

    private bool showModal = false;
    private ProductClass selectedProduct;

    void OpenModal(ProductClass product)
    {
        selectedProduct = product;
        showModal = true;
    }

    void CloseModal()
    {
        showModal = false;
    }

    private string connectionString = "Host=ep-purple-star-a20n8auz.eu-central-1.aws.neon.tech;Port=5432;Username=techvendo69;Password=qVyZgOJ36HtK;Database=TechVendo;SslMode=Require;";
    private NpgsqlConnection connection;
    private List<ProductClass> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        connection = new NpgsqlConnection(connectionString);
        products = GetProducts();
    }

    public List<ProductClass> GetProducts()
    {
        var products = new List<ProductClass>();

        try
        {
            connection.Open();
            string SelectSQL = "SELECT * FROM products";

            using (NpgsqlCommand command = new NpgsqlCommand(SelectSQL, connection))
            {
                using (NpgsqlDataReader reader = command.ExecuteReader())
                {
                    while (reader.Read())
                    {
                        var product = new ProductClass
                            {
                                Price = (int)reader["price"],
                                EANNumber = reader["ean_number"].ToString(),
                                Brand = reader["brand"].ToString(),
                                Model = reader["model"].ToString(),
                                Series = reader["series"].ToString()
                            };

                        products.Add(product);
                    }
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
        finally
        {
            if (connection.State == System.Data.ConnectionState.Open)
            {
                connection.Close();
            }
        }

        return products;
    }

}

<style>
    body {
        background-color: #000;
    }

    .prod-title {
        color: white;
    }

    .card-body, .card {
        background-color: #525050;
        color: white;
        padding: 20px 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .btn-outline-secondary {
        color: white;
    }
</style>
